---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Card from "../components/Card.astro";
import { getPokemons } from "../utils/fetch";
import type { Pokemon } from "../utils/types";

let pokemons: Pokemon[] = await getPokemons();

export const prerender = true
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <ViewTransitions />
  <title>Pokedex</title>
</head>
<body>
  <h1>Pokedex</h1>
  <div class="grid">
    {pokemons.map((a, i) => (
      <Card name={a.name} id={i} />
    ))}
  </div>
</body>
</html>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
</style>