---
interface Props {
  name: string;
  id: number;
}

const { name, id } = Astro.props;
---

<a class="card" href={'/pokemon/' + name}>
  <img transition:name={name} src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${1 + id}.png`} alt={name}>
  <h3>{name}</h3>
</a>

<style>
  .card {
    background-color: rgb(50, 50, 125);
    border-radius: 15px;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    color: white;
  }
</style>